@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-secondary: "Montserrat", sans-serif;

  --text-13: 0.813rem;
  --text-15: 0.938rem;
  --text-17: 1.063rem;
  --text-25: 1.563rem;
  --text-28: 1.75rem;
  --text-40: 2.5rem;
  --text-65: 4.063rem;
  --text-85: 5.313rem;

  --color-alto: #e8e8e8;
  --color-soft-grey: #e9e8e8;
  --color-light-grey: #EFEFEF;
  --color-charcoal: #36454F;
  --color-charcoal-grey: #54595F;
  --color-dark-blue: #2E3E48;
  --color-dark-teal: #1C2929;
  --color-yellow-green: #D9E021;
  --color-soft-red: #d9534f;
  --color-gunmetal: #33373D;
  --color-charcoal-blue: #3F444B;
  --color-grayish-blue: #374550;
  --color-gunmetal-blue: #394553;




  --spacing-1: 0.063rem;
  --spacing-10: 0.625rem;
  --spacing-11: 0.719rem;
  --spacing-13: 0.813rem;
  --spacing-15: 0.938rem;
  --spacing-custom-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-35: 2.188rem;
  --spacing-46: 2.875rem;
  --spacing-120: 7.5rem;
  --spacing-127: 7.99rem;
  --spacing-177: 11.108rem;
  --spacing-246: 15.375rem;
  --spacing-572: 35.761rem;

  --radius-20: 1.25rem;
  --radius-25: 1.563rem;
  --radius-50: 3.125rem;

  --bg-card-FR: url('/assets/images/focus.bg_.jpg');
  --bg-card-GH: url('/assets/images/gut.health.bg_.jpg');
  --bg-card-HS: url('/assets/images/hair.bg_.jpg');
  --bg-card-HB: url('/assets/images/hormone.bg_.jpg');
  --bg-card-WL: url('/assets/images/weight.bg_.jpg');
  --bg-card-SE: url('/assets/images/strength.bg_.jpg');
  --bg-CTA1: url('/assets/images/bg_CTA1.jpg');
}
#services .swiper{
  padding-bottom: 50px;
}
#services .swiper-slide{
  height: auto;
}
#services .swiper-pagination-bullet-active {
  background-color: black;
}

#services .swiper-pagination-bullet:hover {
  opacity: 1;
}

#services .swiper-button-prev,
#services .swiper-button-next {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

#services .swiper-button-prev::after,
#services .swiper-button-next::after {
  font-size: 25px;
  color: #36454F;
  font-weight: 600;
}

/* PRODUCTS */
#products .swiper-button-prev,
#products .swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: #36454F;
  border-radius: 50px;
  padding: 10px;
}

#products .swiper-button-prev::after,
#products .swiper-button-next::after {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

#products .swiper-slide{
  height: auto;
}

#custom-bg-style{
  background-color: transparent;
  color: currentColor;
}